body {
  font-family: 'Amiri', serif;
  background-color: #300B03;
  margin:0;
}

a {
  text-decoration: none;
  color: #c29200
}

label {
  display: block;
}

#admin_bar {
  width: 100%;
  background-color: #c29200;
  height:60px;
}

#admin_drop{
  display:block;
  position: absolute;
  top: 0;
  right: 0;
}

nav {
  position: static;
  right:0;
  width:100%;
}
nav a {
  display: inline-block;
  margin: 1em;
}

#nav_links {
  position:absolute;
  right:0;
}

#nav_links a {
  display:inline-block;
  top:0;
}

form div {
  margin: 1em;
  display: inline-block;
}

#logo {
  text-align: center;
}

.subtext {
  color: #c29200;
}

#products_container{
  padding:0 4%;
}
